# Temporary files used when publishing & to store some preview data like persistent storage
# No need to synchronize
Temp/

# Local user settings used to store script breakpoints & hierarchy state (locked/hidden objects)
# Currently running w/ defailt settings so I might really not synchro this forever.
UserSettings/

# Screenshots used when publishing & for project thumbnails in the Create tab
# Synchro not needed until I publish the game.
Screenshots/

# Directory created when migrating from an old storage format
# No need to synchro
.core_backup/
